.slide-1
{
    background-image: url(../../assets/slider3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-name: hero-img;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.slide-2
{
    background-image: url(../../assets/slider-2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-name: hero-img;
    animation-duration: 10s;
}


.hero-caption
{
    animation-name: hero;
    animation-duration: 2s;
}
.hero-caption h1
{
    font-size: 60px;
}
.hero-caption h5
{
    font-size: 30px;
}
.hero-caption p
{
    font-size: 20px;
}

.hero
{
    height: 100vh;
}

.fs-7
{
    font-size: 60px;
}

.buttons
{
    bottom: 3rem;
    left: 3rem;
    
}



@media(max-width:1024px)
{
    .fs-7
{
    font-size: 20px;
}
.hero
{
    height: 50vh;
}

.hero-caption h1
{
    font-size: 40px;
}
.hero-caption h5
{
    font-size: 20px;
}
.hero-caption p
{
    font-size: 10px;
}
}

@keyframes hero{
    0%{transform:  rotateX(90deg)};
    100%{transform:  rotateX(0deg)};
}

@keyframes hero-img {
    0%{background-size: 100% 100%;}
    100%{background-size: 120% 120%;}
}