:root
{
    --main-color:#285bbb;
    --second-color:#1c9dbf;
}

.aboutCaption li {
  width: 50%;
  list-style: none;
}

.list {
  display: flex;
  align-items: center;
}

.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 3px solid var(--second-color);
  
  border-radius: 5px;
  transition: 0.4s;
  flex-shrink: 0;
  background-color: var(--second-color);
}

.aboutCaption li span {
  color: black;
  transition: 0.4s;
  font-size: 1rem;
  
}
.aboutCaption li span i {
  color: white;
  
}

.aboutCaption li:hover span {
  color: var(--main-color);
  transform: scale(1.04);
}

.aboutCaption li:hover .icon-circle {
  background-color: var(--main-color);
  color: white;
  border-color: white;
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anim{
    0%{transform: translateY(0px);}
    100%{transform: translateY(5px);}
    0%{transform: translateY(-5px);}
}

@media (max-width: 1024px) {
  .aboutCaption li {
    width: 100%;
    
  }
}

